BLOG_ENV_ID=local
SECRET_KEY=your-secret-key-here

BLOG_REDIS_URL=redis://localhost:6379/0
BLOG_REDIS_HOST=localhost
BLOG_REDIS_PORT=6379

BLOG_CELERY_BROKER_URL=redis://localhost:6379/1

BLOG_FLOWER_USER=admin
BLOG_FLOWER_PASSWORD=change_me

BLOG_SEED_DB=false

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1